<html lang="en">
<head>
    <title></title>
</head>
<body>
<div>
    Menu:
    <a href="{{ url_for('auth.index') }}">Home</a>
    <a href="{{ url_for('message.index') }}">Message input</a>
    <a href="{{ url_for('message.show_all_messages') }}">All messages</a>
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('auth.login') }}">Login</a>
    {% else %}
    <a href="{{ url_for('auth.logout') }}">Logout</a>
    {% endif %}
</div>
<hr>
{% block content %}{% endblock %}
</body>
</html>